{% extends 'base.html' %}

{% block meta %}
<style>
body {
    font-family: Arial, sans-serif;
    background-color: #191919;
    color: white;
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
}
.nav-logo {
    color: red;
    font-size: 24px;
}
.nav-links {
    display: flex;
    align-items: center;
}
.nav-text {
    color: white;
    margin-left: 20px;
}
.logout-button {
    color: white;
    background-color: red;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 24px;
    margin-left: 20px;
}
.nav-container {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.content {
    padding: 20px;
}

h1, h2 {
    color: white;
    text-align: left;
    padding-left: 10px;
}

.section {
    margin-top: 20px;
    padding: 10px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #444;
    padding: 10px;
    text-align: left;
}

th {
    text-align: center;
}

button {
    padding: 10px;
    background-color: #E50914;
    border: none;
    color: white;
    cursor: pointer;
}
</style>
{% endblock meta %}

{% block content %}
<nav class="navbar">
    <div class="nav-logo">PACILFLIX - B4</div>
    <div class="nav-container">
        <div class="nav-links">
            <div class="nav-text"><a>Daftar Tayangan</a></div>
            <div class="nav-text"><a href="{% url 'daftar_kontributor:daftar_kontributor' %}">Daftar Kontributor</a></div>
            <div class="nav-text"><a>Kelola Daftar Favorit</a></div>
            <div class="nav-text"><a>Kelola Daftar Unduhan</a></div>
            <div class="nav-text"><a>Kelola Langganan</a></div>
        </div>
        <a href="{% url 'authentication:logout' %}" class="logout-button">Logout</a>
    </div>
</nav>
<div class="content">
    <h1 style="text-align: center;">Kelola Langganan</h1>
    <div class="section">
        <h2>Paket Langganan Aktif Anda:</h2>
        <table class="subscriptions">
            <thead>
                <tr>
                    <th>Nama</th>
                    <th>Harga</th>
                    <th>Resolusi Layar</th>
                    <th>Dukungan Perangkat</th>
                    <th>Tanggal Dimulai</th>
                    <th>Tanggal Akhir</th>
                </tr>
            </thead>
            <tbody>
                {% for paket_langganan in paket_langganan_aktif %}
                <tr>
                    <td>{{ paket_langganan.nama }}</td>
                    <td>{{ paket_langganan.harga }}</td>
                    <td>{{ paket_langganan.resolusi_layar }}</td>
                    <td>{{ paket_langganan.dukungan_perangkat }}</td>
                    <td>{{ paket_langganan.start_date_time }}</td>
                    <td>{{ paket_langganan.end_date_time }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="section">
        <h2>Pilih Paket Lain:</h2>
        <table class="packages">
            <thead>
                <tr>
                    <th>Nama</th>
                    <th>Harga</th>
                    <th>Resolusi Layar</th>
                    <th>Dukungan Perangkat</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                {% for paket in daftar_paket %}
                <tr>
                    <td>{{ paket.nama }}</td>
                    <td>{{ paket.harga }}</td>
                    <td>{{ paket.resolusi_layar }}</td>
                    <td>{{ paket.dukungan_perangkat }}</td>
                    <td style="text-align: center;">
                        <button class="btn-beli" data-nama-paket="{{ paket.nama }}" 
                            data-param="Transfer Bank"
                        >Beli</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="section">
        <h2>Riwayat Transaksi:</h2>
        <table class="transactions">
            <thead>
                <tr>
                    <th>Nama Paket</th>
                    <th>Tanggal Dimulai</th>
                    <th>Tanggal Akhir</th>
                    <th>Metode Pembayaran</th>
                    <th>Tanggal Pembayaran</th>
                    <th>Total Pembayaran</th>
                </tr>
            </thead>
            <tbody>
                {% for transaksi in riwayat_transaksi %}
                <tr>
                    <td>{{ transaksi.nama }}</td>
                    <td>{{ transaksi.start_date_time }}</td>
                    <td>{{ transaksi.end_date_time }}</td>
                    <td>{{ transaksi.metode_pembayaran }}</td>
                    <td>{{ transaksi.timestamp_pembayaran }}</td>
                    <td>{{ transaksi.total_pembayaran }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    document.querySelectorAll('.btn-beli').forEach(button => {
        button.addEventListener('click', function() {
            const namaPaket = this.getAttribute('data-nama-paket');
            const param = this.getAttribute('data-param');
            const url = `{% url 'langganan:beli_paket' 'namaPaket' 'param' %}`.replace('namaPaket', 
                encodeURIComponent(namaPaket)).replace('param', encodeURIComponent(param));
            window.location.href = url;
        });
    });
</script>
{% endblock content %}