{% extends 'base.html' %}

{% block meta %}
<style>
body {
    font-family: Arial, sans-serif;
    background-color: #191919;
    color: white;
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
}
.nav-logo {
    color: red;
    font-size: 24px;
}
.nav-links {
    display: flex;
    align-items: center;
}
.nav-text {
    color: white;
    margin-left: 20px;
}
.logout-button {
    color: white;
    background-color: red;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 24px;
    margin-left: 20px;
}
.nav-container {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.content {
    padding: 20px;
    text-align: left;
}

.section h1, .section h2 {
    color: white;
    padding: 10px;
}

.package-info, .payment-method {
    background-color: #222;
    padding: 15px;
    margin-top: 20px;
}

.package-info p, .payment-method select {
    margin: 10px 0;
    background-color: #333;
    padding: 8px;
    width: 100%;
}

select {
    color: white;
    background-color: #333;
    border: 1px solid #444;
    padding: 8px;
    width: 100%;
}

button {
    padding: 10px;
    background-color: #E50914;
    border: none;
    color: white;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}
</style>
{% endblock meta %}

{% block content %}
<nav class="navbar">
    <div class="nav-logo">PACILFLIX - B4</div>
    <div class="nav-container">
        <div class="nav-links">
            <div class="nav-text"><a>Daftar Tayangan</a></div>
            <div class="nav-text"><a href="{% url 'tayangan:shows' %}">Daftar Tayangan</a></div>
            <div class="nav-text"><a href="{% url 'daftar_kontributor:daftar_kontributor' %}">Daftar Kontributor</a></div>
            <div class="nav-text"><a href="{% url 'daftar_favorit:show_daftar_favorit' %}">Kelola Daftar Favorit</a></div>
            <div class="nav-text"><a href="{% url 'daftar_unduhan:show_daftar_unduhan' %}">Kelola Daftar Unduhan</a></div>
            <div class="nav-text"><a href="{% url 'langganan:kelola_langganan' %}">Kelola Langganan</a></div>
        </div>
        <a href="{% url 'authentication:logout' %}" class="logout-button">Logout</a>
    </div>
</nav>
<div class="content">
    <div class="section">
        <h1 style="text-align: center;">Pembelian Paket</h1>
        <div class="package-info">
            <h2>Informasi Paket yang Ingin Dibeli :</h2>
            <p>Nama Paket : <b>{{ paket.nama }}</b></p>
            <p>Harga (IDR) : <b>{{ paket.harga }}</b></p>
            <p>Resolusi : <b>{{ paket.resolusi_layar }}</b></p>
            <p>Dukungan Perangkat : <b>{{ paket.dukungan_perangkat }}</b></p>
        </div>
        <div class="payment-method">
            <h2>Pilih Metode Pembayaran :</h2>
            <select id="paymentMethod" onchange="updatePaymentMethod()">
                <option value="bank_transfer">Transfer Bank</option>
                <option value="credit_card">Credit Card</option>
                <option value="e_wallet">E-Wallet</option>
            </select>
            <button onclick="confirmPurchase()">Bayar</button>
        </div>
    </div>
</div>

<script>
function updatePaymentMethod() {
    const selectedMethod = document.getElementById('paymentMethod').value;
    document.getElementById('dropdownMenuButton').textContent = selectedMethod;
}

function confirmPurchase() {
    const paymentMethodElement = document.getElementById('paymentMethod');
    const selectedValue = paymentMethodElement.value;
    const paymentMethodMapping = {
        'bank_transfer': 'Transfer Bank',
        'credit_card': 'Credit Card',
        'e_wallet': 'E-Wallet'
    };
    const selectedMethod = paymentMethodMapping[selectedValue];
    const namaPaket = '{{ paket.nama }}';
    const encodedNamaPaket = encodeURIComponent(namaPaket);
    const encodedMethod = encodeURIComponent(selectedMethod);
    const url = `/langganan/beli/${encodedNamaPaket}/${encodedMethod}/`;
    window.location.href = url;
}

</script>
{% endblock content %}
