{% extends 'base.html' %}

{% block meta %}
<style>
body {
    font-family: Arial, sans-serif;
    background-color: #191919;
    color: white;
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
}
.nav-logo {
    color: red;
    font-size: 24px;
}
.nav-links {
    display: flex;
    align-items: center;
}
.nav-text {
    color: white;
    margin-left: 20px;
}
.logout-button {
    color: white;
    background-color: red;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 24px;
    margin-left: 20px;
}
.nav-container {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.content {
    padding: 20px;
    text-align: center;
}

h1 {
    color: white;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #444;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    text-align: center;
}

.filter {
    margin: 20px 0;
}

.filter label {
    color: #aaa;
}

.filter select {
    padding: 5px;
    background: #333;
    color: white;
    border: none;
}
</style>
{% endblock meta %}

{% block content %}
<nav class="navbar">
    <div class="nav-logo">PACILFLIX - B4</div>
    <div class="nav-container">
        <div class="nav-links">
            <div class="nav-text"><a>Daftar Tayangan</a></div>
            <div class="nav-text"><a href="{% url 'daftar_kontributor:daftar_kontributor' %}">Daftar Kontributor</a></div>
            <div class="nav-text"><a>Kelola Daftar Favorit</a></div>
            <div class="nav-text"><a>Kelola Daftar Unduhan</a></div>
            <div class="nav-text"><a>Kelola Langganan</a></div>
        </div>
        <a href="{% url 'authentication:logout' %}" class="logout-button">Logout</a>
    </div>
</nav>
<div class="content">
    <h1>Daftar Kontributor</h1>
    <div class="filter">
        <label for="contributorType">Filter by type:</label>
        <select id="contributorType">
            <option value="all" {% if param == 'all' %}selected{% endif %}>All</option>
            <option value="penulis skenario" {% if param == 'penulis skenario' %}selected{% endif %}>Penulis Skenario</option>
            <option value="pemain" {% if param == 'pemain' %}selected{% endif %}>Pemain</option>
            <option value="sutradara" {% if param == 'sutradara' %}selected{% endif %}>Sutradara</option>
        </select>
        
    </div>
    <table class="contributors">
        <thead>
            <tr>
                <th>Nama</th>
                <th>Tipe</th>
                <th>Jenis Kelamin</th>
                <th>Kewarganegaraan</th>
            </tr>
        </thead>
        <tbody>
            {% for contributor in contributors %}
            <tr>
                <td>{{ contributor.nama }}</td>
                <td>{{ contributor.tipe }}</td>
                <td>{{ contributor.jenis_kelamin }}</td>
                <td>{{ contributor.kewarganegaraan }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    document.getElementById('contributorType').addEventListener('change', function() {
        var tipe = this.value;
        window.location.href = "{% url 'daftar_kontributor:daftar_kontributor_filtered' 'tipe' %}".replace('tipe', tipe);
    });
</script>
{% endblock content %}