{% extends 'base.html' %}

{% block content %}
<nav class="bg-black">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex flex-shrink-0 items-center">
                    <h1 class="font-bold text-red-500 text-2xl mt-0.5 mb-1 ml-0.5">PACILFLIX</h1>
                </div>
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                <button type="button" class="rounded-full bg-black p-1 text-white hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-black-800">
                    <span class="sr-only">View notifications</span>
                </button>
                <div class="relative ml-3">
                    {% if not user.is_authenticated %}
                    <div>
                        <button class="text-white hover:bg-black-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" onclick="location.href='/login/'">Login</button>
                    </div>
                    {% else %}
                    <div class="flex space-x-4 items-center"> <!-- Added "items-center" class -->
                        <p class="text-white hover:text-white px-3 py-2 rounded-md text-sm font-medium">{{ user.get_username }}</p>
                        <button class="text-white hover:bg-black-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" onclick="location.href='/logout/'">Logout</button>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>


<div class="container mx-auto mt-5">
    <h2 class="text-3xl font-semibold text-center text-white mb-3">cek</h2>
    <table class="table-auto w-full">
        <thead>
            <tr>
                <th class="px-4 py-2 text-center text-white bg-gray-800">Judul</th>
                <th class="px-4 py-2 text-center text-white bg-gray-800">Waktu Diunduh</th>
                <th class="px-4 py-2 text-center text-white bg-gray-800">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="border px-4 py-2 text-white">Judul Konten 1</td>
                <td class="border px-4 py-2  text-white">1 Januari 2024</td>
                <td class="border px-4 py-2 text-center">
                    <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-3 rounded">Hapus</button>
                </td>
            </tr>
            <!-- Tambahkan baris data dummy di sini -->
            <tr>
                <td class="border px-4 py-2  text-white">Judul Konten 2</td>
                <td class="border px-4 py-2  text-white">2 Januari 2024</td>
                <td class="border px-4 py-2 text-center">
                    <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-3 rounded">Hapus</button>
                </td>
            </tr>
            <tr>
                <td class="border px-4 py-2  text-white">Judul Konten 3</td>
                <td class="border px-4 py-2  text-white">3 Januari 2024</td>
                <td class="border px-4 py-2 text-center">
                    <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-3 rounded">Hapus</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


{% endblock %}
