{% extends 'base.html' %}

{% block meta %}
{% include 'navbar_user.html' %}
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #000;
            color: #fff;
        }

        h1 {
            background-color: #b20710;
            padding: 20px;
            color: #fff;
        }

        p {
            margin: 10px 0;
        }

        a {
            color: #b20710;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        ul li {
            margin-bottom: 5px;
        }
    </style>
    {% endblock meta %}

    {% block content %}
    <h1>{{ film.judul }}</h1>
    <p>{{ film.sinopsis }}</p>
    <p>Release Date: {{ film.release_date_film }}</p>
    <p>Watch the film <a href="{{ film.url_video_film }}">here</a>.</p>
    <p>Release Date: {{ film.release_date_film }}</p>
    <!-- {% if film.release_date_film <= now %}
        <p>Watch the film <a href="{{ film.url_video_film }}">here</a>.</p>
    {% endif %} -->
<!-- <p>Rating Average: {{ film.rating_avg }}</p> -->
    <p>Rating Average: {{ film.rating_avg }}</p>


    <h2>Genres</h2>
    <ul>
        {% for genre in film.genres %}
            <li>{{ genre }}</li>
        {% endfor %}
    </ul>

    <h2>Players</h2>
    <ul>
        {% for player in film.players %}
            <li>{{ player }}</li>
        {% endfor %}
    </ul>

    <h2>Screenwriters</h2>
    <ul>
        {% for screenwriter in film.screenwriters %}
            <li>{{ screenwriter }}</li>
        {% endfor %}
    </ul>

    <h2>Director</h2>
    <p>{{ film.director }}</p>

    <!-- Daftar Ulasan -->
    <h2>Ulasan</h2>
    <ul>
        {% if film.reviews %}
            {% for review in film.reviews %}
                <li>
                    <strong>{{ review.0 }}</strong> - {{ review.1 }} - Rating: {{ review.2 }}
                    <br>
                    Timestamp: {{ review.3 }}
                </li>
            {% endfor %}
        {% else %}
            <li>Tidak ada ulasan untuk film ini.</li>
        {% endif %}
    </ul>


    <!-- <h2>Tambah Ulasan</h2> -->
    <h2>Tambah Ulasan</h2>
    <form action="{% url 'tayangan:add_review' 'film' film_id %}" method="post">
        {% csrf_token %}
        <label for="deskripsi">Deskripsi Ulasan:</label>
        <textarea id="deskripsi" name="deskripsi" required></textarea>
    
        <label for="rating">Rating yang diberikan:</label>
        <select id="rating" name="rating" required>
            <option value="" disabled selected>Pilih Rating</option>
            {% for rating in ratings %}
                <option value="{{ rating }}">{{ rating }}</option>
            {% endfor %}
        </select>
    
        <button class="button" type="submit">Submit</button>
    </form>
    {% endblock content %}
    
    

